# KREDENSIAL & FILE SENSITIF
.env
.env.local

# FILE BUILD & EXECUTABLE
*.exe
*.spec
build/
dist/

# CACHE & PYTHON
__pycache__/
*.pyc
*.pyo
master_cache.parquet

# FILE LOKAL
config_nota.json
version.local
*.log

# IDE
.vscode/
.idea/